.site {
  display: grid;
  grid-template-rows: auto 120px auto 0px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0px;
  /* grid-row-gap: 50px;
  grid-column-gap: 50px; */
  grid-template-areas:
    "banner banner"
    "header1 header2"
    "main1 main1"
    "footer footer";
  /* justify-content: space-evenly; */
}

.banner {
  grid-area: banner;
}

.header1 {
  grid-area: header1;
  align-self: center;
}

.header2 {
  grid-area: header2;
  align-self: center;
}

.main1 {
  grid-area: main1;
  background-color: #EFF7F9;
  padding-left: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items:center;
  justify-content: center;
  justify-content: space-around;
}

.main1 {
  display: grid;
  grid-template-areas:
    "one two three four"
    "five six seven eight"
    "nine ten eleven twelve"
}

.one {grid-area: one;}
.two {grid-area: two;}
.three {grid-area: three;}
.four {grid-area: four;}
.five {grid-area: five;}
.six {grid-area: six;}
.seven {grid-area: seven;}
.eight {grid-area: eight;}
.nine {grid-area: nine;}
.ten {grid-area: ten;}
.eleven {grid-area: eleven;}
.twelve {grid-area: twelve;}

.main1 img {
    position: relative;
    float: left;
    width:  330px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding: 10px;
}

@media only screen and (max-width : 700px) {
  .site {
    grid-template-rows: auto 100px 175px auto auto 0px;
    grid-template-areas:
      "banner"
      "header1"
      "header2"
      "main1"
      "footer";
  }
  .main1 {
    grid-template-areas:
      "one two"
      "three four"
      "five six"
      "seven eight"
      "nine ten"
      "eleven twelve";
  }
  div .main1 {
    padding-left: 100px;
  }
  .main1 img {
      width:  180px;
      height: 300px;
  }
}

@media only screen and (min-width : 701px) and (max-width : 1200px) {
  .site {
    grid-template-rows: auto 100px 200px auto auto 0px;
    grid-template-columns: auto;
    grid-template-areas:
      "banner"
      "header1"
      "header2"
      "main1"
      "footer";
  }
  .main1 {
    grid-template-areas:
      "one two three"
      "four five six"
      "seven eight nine"
      "ten eleven twelve";
  }
  div .main1 {
    padding-left: 200px;
  }
  .main1 img {
      width:  230px;
      height: 400px;
  }
}
