/* *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

/* body{
  background-color: #EFF7F9;
} */

/* Global Defaults */
html, body {
margin: 0px;
padding: 0px;
border: 0px;
}


.site > *{
  padding: 50px;
}

.site > header{
  padding:0px;
}
h1 {
  font-family: 'Muli', sans-serif;
  font-weight:400;
  color: #00253d;
}

.header1 h1 {
  font-size: 60px;
}

h2 {
  font-family: 'Muli', sans-serif;
  font-weight:300;
  color: #00253d;
}

p {
  font-family: 'Georgia', sans-serif;
}

.site {
  display: grid;
  grid-template-rows: auto 120px auto 0px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0px;
  /* grid-row-gap: 50px;
  grid-column-gap: 50px; */
  grid-template-areas:
    "banner banner"
    "header1 header2"
    "main1 main2"
    "footer footer";
  /* justify-content: space-evenly; */
}

.banner {
  grid-area: banner;
  /* justify-self: stretch; */
  /* align-self: stretch; */
}

.header1 {
  grid-area: header1;
  align-self: center;
  /* padding-left: 100px; */
}

.header2 {
  grid-area: header2;
  /* justify-self: end; */
  align-self: center;
  /* padding-right: 50px; */
}


.main1 {
  grid-area: main1;
  background-color: #EFF7F9;
  padding-left: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.main2 {
  grid-area: main2;
  background-color: #EFF7F9;
  padding-right: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items:center;
justify-content: center;
justify-content: space-around;
}

nav ul {
  display: flex;
  justify-content: space-between;
  /* align-content: center; */
  list-style-type: none;
  font-size: 30px;
  align-items: center;
  font-family: 'Muli', sans-serif;
  font-weight:300;
  color: #00253d;
}

a {
  text-decoration: none;
  color: #00253d;
}

a:hover {
  opacity: 0.7;
}

a.current {
  opacity: 0.7;
  border-bottom: 1px solid;
}

div h1 a:hover {
  opacity: 1;
}


/* a:visited { text-decoration: none; color:#00253d;  }
a:hover { text-decoration: none; opacity: 0.7; }
a:focus { text-decoration: none; color:#00253d; }
a: { text-decoration: none; color:red; } */

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    /* background-color: #777; */
}
/* Facebook */
.fa-facebook {
    background: #00253d;
    color: white;
}
/* envelope */
.fa-envelope {
    background: #00253d;
    color: white;
}



header img {
      width: 100%;
      height: 200px;
      background-size: cover;
}

.footer a.fa.fa-envelope {
  display: none;
}
.footer a.fa.fa-facebook {
  display: none;
}

.header1 a.fa.fa-envelope {
  display: none;
}
.header1 a.fa.fa-facebook {
  display: none;
}

#headshot {
  width: auto;
  max-width: 550px;
  height: auto;
  max-height: 600px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #00253d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #00253d;
    opacity: 0.7;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #00253d; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    opacity: 0.7;
}



.dropdown {
  padding-left: 90px;
}


/* Dropdown Button */
.dropbtn {
    background-color: #00253d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    opacity: 0.7;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
