@media only screen and (max-width : 700px) {
  .site {
    grid-template-rows: auto 100px 175px auto auto 0px;
    grid-template-areas:
      "banner"
      "header1"
      "header2"
      "main1"
      "main2"
      "footer";
  }
  .header1 {
    justify-self: center;
  }
  .header2 nav ul {
    float: none;
    display: block;
    /* text-align: center; */
    justify-self: center;
    text-align: center;
  }

  .header2 nav ul li:hover {
    background-color: #00253d;
    opacity: 0.7;
  }

  li:hover a { color: white }


  div .main1 {
    padding-left: 200px;
    padding-bottom: 0;
  }
  .main1 {
    padding-right: 200px;
  }
  div .main2 {
    padding-left: 200px;
  }
  .main2 {
    padding-right: 200px;
  }
  a.fa.fa-envelope {
    display: none;
  }
  a.fa.fa-facebook {
    display: none;
  }
  .footer a.fa.fa-envelope {
    display: inline-block;
  }
  .footer a.fa.fa-facebook {
    display: inline-block;
  }
  #headshot {
    width: auto;
    max-width: 350px;
    height: auto;
    max-height: 400px;
  }
  #book {
    width: auto;
    max-width: 400px;
    height: auto;
    max-height: 450px;

  }
  .dropdown {
    padding-left: 65px;
  }
}

@media only screen and (min-width : 701px) and (max-width : 1200px) {
  .site {
    grid-template-rows: auto 100px 200px auto auto 0px;
    grid-template-columns: auto;
    grid-template-areas:
      "banner"
      "header1"
      "header2"
      "main1"
      "main2"
      "footer";
  }
  .header1 {
    justify-self: end;
  }

  .header1 h1 {
    display: inline-block;
    padding-right: 150px;
  }

  .header1 a.fa.fa-facebook {
    display: inline-block;
  }

  .header1 a.fa.fa-envelope {
    display: inline-block;
  }

  .header2 nav ul {
    float: none;
    display: block;
    /* text-align: center; */
    justify-self: center;
    text-align: center;
  }

  .header2 nav ul li:hover {
    background-color: #00253d;
    opacity: 0.7;
  }

  li:hover a { color: white }

  div .main1 {
    padding-left: 400px;
    padding-bottom: 0;
  }
  .main1 {
    padding-right: 200px;
  }
  div .main2 {
    padding-left: 200px;
  }
  .main2 {
    padding-right: 200px;
  }
  a.fa.fa-envelope {
    display: none;
  }
  a.fa.fa-facebook {
    display: none;
  }

}
